<h1>Categories</h1>

<a href="/categories/new" class="btn btn-primary">New Category</a>

<table class="table table-bordered table-hover">
	<tr>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	<% @categories.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td>
				<a href="/categories/<%= c.id %>" class="btn btn-sm btn-info">
					Show
				</a>
			</td>
		</tr>
	<% end %>
</table>
